%div.well
  %ul{:style=>"list-style-type: none;padding:0;"}
    %li
      %a{:href=>to("/rss.xml"), :rel=>"alternate", :type=>"application/rss+xml"}
        %button.btn.btn-default
          rss feed
  %hr
  %form{:name => "form", :action => to('/links'), :method => "post", :enctype => "multipart/form-data" }
    %input{:type=>"text", :name=>"comment", :placeholder=>"link:", :size=>"80", :style=>"margin:10px 0px 10px 0px;" }
    %br
    %input{:type=>"text", :name=>"title", :placeholder=>"description (not required):", :size=>"30" }
    %br
    %button{:id=>"submit", :style=>"margin:10px 0px 10px 0px;"} save
  %hr
  - @links.each do |link|
    %form{:name => "form", :action => to('/delete/link'), :method => "post", :enctype => "multipart/form-data" }
      %button.btn.btn-default{:id=>"submit", :style=>"float:left;margin-right:1em;"}
        %span.glyphicon.glyphicon-trash
      %input{:type=>"hidden", :name=>"link", :value=>link.uri }

      %p
        = link.info
      %a{ :href=> link.uri}
        = link.uri
      %hr
