#login.modal-fade.modal-dialog
  %div.modal-dialog
    %div.modal-content
      %div.modal-body
        %form{:action=>to("/login"), :method=>"post"}
          %input{:type => "text", :name=>"admin"}
          %input{:type => "password", :name=>"pass"}
          %input.radio-inline{:type=>"radio", :name=>"user", :value=>"s"} s
          %input.radio-inline{:type=>"radio", :name=>"user", :value=>"c"} c
          %input.radio-inline{:type=>"radio", :name=>"user", :value=>"d"} d
          %input.radio-inline{:type=>"radio", :name=>"user", :value=>"n"} n
          %hr
          %input.radio{:type=>"submit", :value=>"OK"}
