#login.modal-fade.modal-dialog
  %div.modal-dialog
    %div.modal-content
      %div.modal-body
        %form{:action=>to("/login"), :method=>"post"}
          %input{:type => "text", :name=>"admin"}
          %input{:type => "password", :name=>"pass"}
          %hr
          - $users.each do |user|
            %input.radio-inline{:type=>"radio", :name=>"user", :value=>user} 
              = user
          %hr
          %input.radio{:type=>"submit", :value=>"OK"}
