%h3
  upload(mp3):

%form.well{:action=>"/upload", :method=>"post", :type=>"file", :enctype=>'multipart/form-data'}
  %input{:type=>'file', :name=>'file', :accept=>"audio/*"}
  %br
  %input.btn.btn-default{:type=>'submit', :value=>'Upload'}
