%h2
  upload(mp3):

%form{:action=>"/upload", :method=>"post", :enctype=>'multipart/form-data'}
  %input{:type=>'file', :name=>'file'}
  %input{:type=>'submit', :value=>'Upload', :style=>"margin:2em"}
